:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
}

.container {
  display: flex;
  flex-flow: column;
  border: 1.5px solid var(--bd);
  border-radius: 3px;
  background: var(--fg-0);
}

.content {
  height: 200px;
}

.content-item {
  padding: 10px;

  &:hover {
    background: var(--bg);
  }
}
