<div class="layout-nav">
  <div class="layout-nav-pages">
    <div [class.active]="page == 'general'" (click)="setPage('general')">General</div>
    <div [class.active]="page == 'full-page'" (click)="setPage('full-page')">Full page</div>
    <div [class.active]="page == 'styling'" (click)="setPage('styling')">Styling</div>
  </div>
  <div class="layout-nav-theme-selector">
    <div [class.active]="theme == 'default'" (click)="_setTheme('default')">Light</div>
    <div [class.active]="theme == 'default-dark'" (click)="_setTheme('default-dark')">Dark</div>
  </div>
</div>
<div class="layout-page">
  <general *ngIf="page == 'general'"></general>
  <full-page *ngIf="page == 'full-page'"></full-page>
  <styling *ngIf="page == 'styling'"></styling>
</div>
