@import '../../node_modules/@mr-scroll/core/src/scss/pure';

.app-root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include msc-flex-adaptive-container();
}

.layout-nav {
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  border-bottom: 1px solid var(--bd);

  > * {
    cursor: pointer;
    padding: 8px 4px;
    opacity: .5;

    &.active {
      pointer-events: none;
      color: var(--primary);
      opacity: 1;
    }
  }
}

.layout-page {
  flex: 1;
  position: relative;
  @include msc-flex-adaptive-container();
}
