@import '../../node_modules/@mr-scroll/core/src/scss/pure';

.app-root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include msc-flex-adaptive-container();
  @include msc-scroll-pad-content(10px);
}

.examples {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.example {
  display: flex;
  flex-flow: column;
}

.example-title {
  padding: 6px 2px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.example-content {
  flex: 1;
  flex-grow: 0;
  border: 1.5px solid var(--bd);
  border-radius: 3px;
  background: var(--fg-0);
}

.example-note {
  margin-top: 10px;
  padding: 4px 8px;
  background: var(--fg-0);
  border-left: 2px solid var(--info);
  border-radius: 2px;
}

.content {
  height: 200px;
}

.content-item {
  padding: 10px;

  &:hover {
    background: var(--bg);
  }
}

.content-item + .content-item {
  border-top: 1px solid var(--bd);
}
