@use '~@mr-scroll/core/src/scss/pure' as msc;
@use '~css-theming/src/scss/themes';

@mixin apply-thumb-color(
  $thumb-color-light: null,
  $thumb-color-dark: null,
) {
  @if ($thumb-color-light == null) {
    $thumb-color-light: #aaa;
  }
  @if ($thumb-color-dark == null) {
    $thumb-color-dark: white;
  }

  @include themes.themes-apply {
    --mr-scroll-thumb-color: #{if(themes.$brightness == 'light', $thumb-color-light, $thumb-color-dark)};
  }
}

@mixin apply(
  $thumb-color-light: null,
  $thumb-color-dark: null,
) {
  @include apply-thumb-color($thumb-color-light, $thumb-color-dark);
}
