@import '@mr-scroll/core/dist/styles.css';

.App {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.general-example > .mr-scroll {
  height: 200px;
  border: 1px solid #aaa;
  border-radius: 2px;
}

.general-item {
  padding: 10px;
}
