@import '../../../node_modules/@mr-scroll/core/src/scss/pure';
@import '../../../node_modules/@mr-scroll/css-theming/src/scss/css-theming';

.full-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include msc-flex-adaptive-container();
  flex-flow: row;
}

.full-page-sidebar {
  width: 150px;
  @include msc-flex-adaptive-container($flex: false);
  background: var(--indigo);
  @include msc-pad-content(10px);
  color: white;
  @include msc-hidden-content-fade(var(--indigo-rgb));
}

.full-page-sidebar-item {
  padding: 8px 4px;
}

.full-page-content {
  @include msc-flex-adaptive-container();
  @include msc-pad-content(10px);
}
