@import '~@mr-scroll/core/src/scss/pure';
@import '~@mr-scroll/css-theming/src/scss/css-theming';

.full-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include msc-flex-adaptive-container();
  flex-flow: row;
}

.full-page-sidebar {
  @include msc-flex-adaptive-container($flex: false);
  width: 150px;
  $bg: #5700ff;
  background: $bg;
  color: white;
  @include msc-pad-content(10px);
  @include msc-hidden-content-fade($bg);
}

.full-page-sidebar-item {
  padding: 8px 4px;
}

.full-page-content {
  @include msc-flex-adaptive-container();
  @include msc-pad-content(10px);
}
