<div class="general-examples">
  <div class="general-example">
    <div class="general-example-title">Auto (default)</div>
    <div class="general-example-content">
      <mr-scroll mode="auto" (topReached)="_onTopReached()">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Overlay</div>
    <div class="general-example-content">
      <mr-scroll mode="overlay" (scrolled)="_onScrolled()">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Hidden</div>
    <div class="general-example-content">
      <mr-scroll mode="hidden">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Show on hover</div>
    <div class="general-example-content">
      <mr-scroll mode="overlay" [showOnHover]="true">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Hidden content fade</div>
    <div class="general-example-content general-example-content--hidden-content-fade">
      <mr-scroll>
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
    <div class="general-example-note">
      This shows a gradient over the top/bottom side when there's scroll and content is hidden.
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Max height (overflows)</div>
    <div class="general-example-content general-example-content--max-height">
      <mr-scroll mode="auto">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Max height</div>
    <div class="general-example-content general-example-content--max-height">
      <mr-scroll mode="auto">
        <div class="general-content">
          <div *ngFor="let item of [0, 1, 2]" class="general-content-item">
            Item #{{item}}
          </div>
        </div>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Horizontal</div>
    <div class="general-example-content general-example-content--h">
      <mr-scroll>
        <div class="general-content-h">
          <div *ngFor="let item of values" class="general-content-h-item">
            Item #{{item}}
          </div>
        </div>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Both</div>
    <div class="general-example-content general-example-content--hv">
      <mr-scroll mode="overlay">
        <div class="general-content-hv">
          <div *ngFor="let item of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]">
            Item #{{item}}
          </div>
        </div>
      </mr-scroll>
    </div>
  </div>
</div>

<ng-template #contentTemplate>
  <div class="general-content">
    <div *ngFor="let item of values" class="general-content-item">
      Item #{{item}}
    </div>
  </div>
</ng-template>
