<div class="general-examples">
  <div class="general-example">
    <div class="general-example-title">Auto (default)</div>
    <div class="general-example-content">
      <mr-scroll mode="auto" (topReached)="_onTopReached()">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Overlay</div>
    <div class="general-example-content">
      <mr-scroll mode="overlay" (scrolled)="_onScrolled()">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Hidden</div>
    <div class="general-example-content">
      <mr-scroll mode="hidden">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Show on hover</div>
    <div class="general-example-content">
      <mr-scroll mode="overlay" [showOnHover]="true">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Hidden content fade</div>
    <div class="general-example-content general-example-content--hidden-content-fade">
      <mr-scroll>
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
    <div class="general-example-note">
      This shows a gradient over the top/bottom side when there's scroll and content is hidden.
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Max height (overflows)</div>
    <div class="general-example-content general-example-content--max-height">
      <mr-scroll mode="auto">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Max height</div>
    <div class="general-example-content general-example-content--max-height">
      <mr-scroll mode="auto">
        <div class="general-content">
          <div *ngFor="let item of items3" class="general-content-item">
            Item #{{item}}
          </div>
        </div>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Horizontal</div>
    <div class="general-example-content general-example-content--h general-example-content--hidden-content-fade">
      <mr-scroll (leftReached)="_onLeftReached()" (rightReached)="_onRightReached()">
        <div class="general-content-h">
          <div *ngFor="let item of items" class="general-content-h-item">
            Item #{{item}}
          </div>
        </div>
      </mr-scroll>
    </div>
  </div>

  <div class="general-example">
    <div class="general-example-title">Both</div>
    <div class="general-example-content general-example-content--hv general-example-content--hidden-content-fade">
      <mr-scroll mode="overlay">
        <div class="general-content-hv">
          <div *ngFor="let item of items24">
            Item #{{item}}
          </div>
        </div>
      </mr-scroll>
    </div>
  </div>
</div>

<ng-template #contentTemplate>
  <div class="general-content">
    <div *ngFor="let item of items" class="general-content-item">
      Item #{{item}}
    </div>
  </div>
</ng-template>
