@import '../../../node_modules/@mr-scroll/core/src/scss/pure';
@import '../../../node_modules/@mr-scroll/css-theming/src/scss/css-theming';

.general {
  @include msc-flex-adaptive-container();
  overflow-y: auto;
  padding: 10px;
}

.general-examples {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.general-example {
  display: flex;
  flex-flow: column;
}

.general-example-title {
  padding: 6px 2px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.general-example-content {
  border: 1.5px solid var(--bd);
  border-radius: 3px;
  background: var(--fg-0);
  @include msc-height(200px);

  &--hidden-content-fade {
    // We're using css-theming so we can simply give this the variable for fg-0.
    // Of course, you can set the colors to whatever you like.
    @include msc-hidden-content-fade(var(--fg-0-rgb));
  }

  &--max-height {
    > .mr-scroll {
      height: unset;
      max-height: 200px;
    }
  }

  &--h {
    > .mr-scroll {
      height: initial;
    }
  }
}

.general-content-hv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  white-space: nowrap;
  margin: -1px;

  > * {
    padding: 10px;
    border: 1px dashed var(--bd);
  }
}

.general-example-note {
  margin-top: 10px;
  padding: 4px 8px;
  background: var(--fg-0);
  border-left: 2px solid var(--info);
  border-radius: 2px;
}

.general-content-item {
  padding: 10px;

  &:hover {
    background: var(--bg);
  }
}

.general-content-item + .general-content-item {
  border-top: 1px solid var(--bd);
}

.general-content-h {
  display: flex;
  flex-flow: row nowrap;
}

.general-content-h-item {
  padding: 10px;
  white-space: nowrap;
}

.general-content-h-item + .general-content-h-item {
  border-left: 1px solid var(--bd);
}
