@mixin flex-adaptive-container($flex: true) {
  @if ($flex == true) {
    flex: 1;
  }
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-flow: column;
}

@mixin pad-content($padding) {
  > .mr-scroll > .mr-scroll_content {
    padding: $padding;
  }
}

@mixin hidden-content-fade($color-rgb: null) {
  @if ($color-rgb == null) {
    $color-rgb: 255, 255, 255;
  }

  > .mr-scroll {
    &::after,
    &::before {
      display: initial;
      --mr-scroll-hidden-content-fade-gradient-color: #{$color-rgb};
    }
  }
}

