@use 'pure' as *;

:root {
  --mr-scroll-bar-width-normal: 12px;
  --mr-scroll-bar-width-overlay: 8px;
  --mr-scroll-track-color: transparent;
  --mr-scroll-thumb-border-radius: 2px;
  --mr-scroll-thumb-color: #aaa;
  --mr-scroll-hidden-content-fade-size: 25px;
}

.mr-scroll {
  @include flex-adaptive-container();
  overflow: hidden;
  position: relative;

  &--mode-hidden {
    > .mr-scroll_bar {
      display: none;
    }
  }

  &--show-on-hover {
    > .mr-scroll_bar {
      opacity: 0;
      transition: opacity linear .2s;
    }

    &:hover {
      > .mr-scroll_bar {
        opacity: 1;
      }
    }
  }

  &--width-0 {
    > .mr-scroll_bar {
      display: none;
    }
  }

  &--hidden {
    > .mr-scroll_bar {
      opacity: 0 !important;
    }
  }

  &::before,
  &::after {
    --mr-scroll-hidden-content-fade-gradient-content: rgba(var(--mr-scroll-hidden-content-fade-gradient-color), 0) 0%, rgba(var(--mr-scroll-hidden-content-fade-gradient-color), 1) 100%;

    content: ' ';
    display: none;
    pointer-events: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--mr-scroll-hidden-content-fade);
    height: var(--mr-scroll-hidden-content-fade-size);
    opacity: 0;
    transition: opacity linear .1s;
  }

  &::before {
    --mr-scroll-hidden-content-fade: linear-gradient(to top, var(--mr-scroll-hidden-content-fade-gradient-content));
    top: 0;
  }

  &::after {
    --mr-scroll-hidden-content-fade: linear-gradient(to bottom, var(--mr-scroll-hidden-content-fade-gradient-content));
    bottom: 0;
  }

  &--hidden-content-start {
    &::before {
      opacity: 1;
    }
  }

  &--hidden-content-end {
    &::after {
      opacity: 1;
    }
  }

  &--mode-normal {
    > .mr-scroll_content {
      padding-right: var(--mr-scroll-bar-width);
    }
  }
}

.mr-scroll_content {
  @include flex-adaptive-container();
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mr-scroll_bar {
  z-index: 1; // So that hidden content fade doesn't show over the bar
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: var(--mr-scroll-bar-width);

  &:hover {
    > .mr-scroll_bar-thumb {
      opacity: 1;
    }
  }
}

.mr-scroll_bar-track {
  margin: 3px;
  flex-grow: 1;
  flex-direction: column;
  background: var(--mr-scroll-track-color);
}

.mr-scroll_bar-thumb {
  background: var(--mr-scroll-thumb-color);
  border-radius: var(--mr-scroll-thumb-border-radius);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 3px;
  opacity: .7;
  transition: opacity linear .1s;
}
