@use 'pure' as *;

:root {
  --mr-scroll-bar-size-normal: 12px;
  --mr-scroll-bar-size-overlay: 8px;
  --mr-scroll-bar-margin: 3px;
  --mr-scroll-track-color: transparent;
  --mr-scroll-thumb-border-radius: 2px;
  --mr-scroll-thumb-color: #aaa;
  --mr-scroll-hidden-content-fade-size: 25px;
}

.mr-scroll {
  @include flex-adaptive-container();
  overflow: hidden;
  position: relative;

  &--mode-auto {
    > .mr-scroll_content {
      overflow: auto;
    }
  }

  &--mode-hidden {
    > .mr-scroll_bar {
      display: none;
    }
  }

  &--show-on-hover {
    > .mr-scroll_bar {
      opacity: 0;
      transition: opacity linear .2s;
    }

    &:hover {
      > .mr-scroll_bar {
        opacity: 1;
      }
    }
  }

  &--width-0 {
    > .mr-scroll_bar {
      display: none;
    }
  }

  $sides: ('l', 'r', 't', 'b');
  @each $side in $sides {
    &--hidden-content-#{$side} {
      > .mr-scroll_hidden-content-fade--#{$side} {
        opacity: 1;
      }
    }
  }
}

.mr-scroll_hidden-content-fade {
  --mr-scroll-hidden-content-fade-gradient-content: rgba(var(--mr-scroll-hidden-content-fade-gradient-color), 0) 0%, rgba(var(--mr-scroll-hidden-content-fade-gradient-color), 1) 100%;
  display: none;
  pointer-events: none;
  position: absolute;
  background: var(--mr-scroll-hidden-content-fade);
  opacity: 0;
  transition: opacity linear .1s;

  &--t,
  &--b {
    left: 0;
    height: var(--mr-scroll-hidden-content-fade-size);
    width: 100%;
  }

  &--l,
  &--r {
    top: 0;
    height: 100%;
    width: var(--mr-scroll-hidden-content-fade-size);
  }

  &--t {
    --mr-scroll-hidden-content-fade: linear-gradient(to top, var(--mr-scroll-hidden-content-fade-gradient-content));
    top: 0;
  }

  &--b {
    --mr-scroll-hidden-content-fade: linear-gradient(to bottom, var(--mr-scroll-hidden-content-fade-gradient-content));
    bottom: 0;
  }

  &--l {
    --mr-scroll-hidden-content-fade: linear-gradient(to left, var(--mr-scroll-hidden-content-fade-gradient-content));
    left: 0;
  }

  &--r {
    --mr-scroll-hidden-content-fade: linear-gradient(to right, var(--mr-scroll-hidden-content-fade-gradient-content));
    right: 0;
  }
}

.mr-scroll_content {
  @include flex-adaptive-container();
  height: 100%;
  overflow: scroll;
}

.mr-scroll_bar {
  position: absolute;
  display: flex;

  &:hover {
    > .mr-scroll_bar-thumb {
      opacity: 1;
    }
  }

  &--h {
    height: var(--mr-scroll-bar-size);
    right: 0;
    bottom: 0;
    left: 0;
    flex-flow: column;

    > .mr-scroll_bar-thumb {
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  &--v {
    width: var(--mr-scroll-bar-size);
    top: 0;
    right: 0;
    bottom: 0;

    > .mr-scroll_bar-thumb {
      top: 0;
      right: 0;
      left: 0;
    }
  }

  &--hidden {
    opacity: 0 !important;
  }
}

.mr-scroll_bar-track {
  margin: 3px;
  flex-grow: 1;
  background: var(--mr-scroll-track-color);
}

.mr-scroll_bar-thumb {
  background: var(--mr-scroll-thumb-color);
  border-radius: var(--mr-scroll-thumb-border-radius);
  position: absolute;
  margin: 3px;
  opacity: .7;
  transition: opacity linear .1s;
}
