@import 'node_modules/@mr-scroll/core/src/scss/pure';
@import 'node_modules/@mr-scroll/css-theming/src/scss/css-theming';

.styling {
  @include msc-flex-adaptive-container();
  overflow-y: auto;
  padding: 10px;
}

.styling-examples {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.styling-example {
  border: 1.5px solid var(--bd);
  border-radius: 3px;
  background: var(--fg-0);
  @include msc-height(200px);

  &-1 {
    --mr-scroll-thumb-color: var(--primary);
    --mr-scroll-border-radius: 10px;
  }

  &-2 {
    --mr-scroll-thumb-color: var(--primary);
  }

  &-3 {
    --mr-scroll-thumb-color: var(--green);
    --mr-scroll-track-color: var(--green-50);
  }
}

.styling-content-item {
  padding: 10px;

  &:hover {
    background: var(--bg);
  }
}

.styling-content-item + .styling-content-item {
  border-top: 1px solid var(--bd);
}
